@keyframes animation-button {
    100% {
        transform: rotate(45deg);
    }
}

@keyframes no-animation-button {
    100% {
        transform: rotate(-45deg);
    }
}

.menu__icon-animation::before {
    animation-name: animation-button;
    animation-duration: 0.5s;
}

.menu__icon-no-animation::before {

}
